.slider-box {
    display: grid;  
    /* margin-right: 40px;
    margin-left: 40px; */
}

.slider-image, .slider-image-behind-box {
    grid-column: 1;
    grid-row: 1;
}

.slider-image {
    width: calc(100% - 40px);

    z-index: 3;
    border-radius: 5%;
    object-fit: cover;
    aspect-ratio: 1/1;

    -webkit-box-shadow: 11px 11px 21px -10px rgba(0,0,0,0.69);
    -moz-box-shadow: 11px 11px 21px -10px rgba(0,0,0,0.69);
    box-shadow: 11px 11px 21px -10px rgba(0,0,0,0.69);
}

.slider-image.full {
    width: 100%;
    max-width: 100%;    
}

.slider-image-behind-box{
    width: calc(100% - 40px);

    position: relative;
    bottom: -20px;
    left: 40px;

    z-index: 0;
    cursor: pointer;
    aspect-ratio: 1/1;

    display: grid;

    transition: 0.3s;
}

.slider-image-behind-box:hover{
    transform: scale(1.05);
}

.slider-button {
    grid-column: 1;
    grid-row: 1;

    width: 40px;
    height: 40px;

    z-index: 2;
    justify-self: end;
    align-self: center;
    position: relative;
    opacity: 0.7;
    transition: 0.5s ease-out;
}

.slider-image-behind-cover {
    grid-row: 1;
    grid-column: 1;

    width: 100%;

    z-index: 1;
    border-radius: 5%;
    background: linear-gradient(-50deg, var(--pri-o), transparent);
}

.slider-image-behind{
    grid-column: 1;
    grid-row: 1;

    width: 100%;

    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5%;
    transition: 0.3s;
    -webkit-box-shadow: 11px 11px 21px -10px rgba(0,0,0,0.69);
    -moz-box-shadow: 11px 11px 21px -10px rgba(0,0,0,0.69);
    box-shadow: 11px 11px 21px -10px rgba(0,0,0,0.69);
}

@media only screen and (max-width: 500px) {
    .slider-image {
        width: 100%;
        max-width: calc(100% - 40px);
    }

    .slider-image-behind-box{
        width: calc(100% - 30px);

        left: 30px;
    }

    .slider-button {
        height: 25px;
        width: 25px;

        left: -5px;
        justify-self: end;
    }
}