.about-box{
    padding: 20px;
    text-align: justify;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 60px;
    padding-bottom: 60px;
    row-gap: 20px;
    column-gap: 20px;
}

.image-box{
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    max-width: 70vh;
}

.about-image{
    object-fit: cover;
    border-radius: 5%;
    max-width: 90vw;
}

.desc-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}

.desc-inside-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-box{
    border: solid 2px var(--acc);
    border-radius: 20px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    text-align: left;

    transition: 0.5s;
    -webkit-box-shadow: 11px 11px 21px -10px rgba(0,0,0,0.69);
    -moz-box-shadow: 11px 11px 21px -10px rgba(0,0,0,0.69);
    box-shadow: 11px 11px 21px -10px rgba(0,0,0,0.69);
}

/* .detail-box:hover {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.69);
} */

.detail-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.detail-item-label {
    font-size: small;
    margin-bottom: 10px;
    color: var(--acc);
}

.detail-item p{
    line-height: 25px;
    margin: 0;
}

@media only screen and (max-width: 850px){
    .content{
        display: grid;
        grid-template-columns: 1fr;
    }

    .desc-box{
    margin-right: auto;
    }
}